<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>
    Topogo
  </title>
  <h1 style="font-family: Arial; font-size: 48px; color: green; text-align: center; font-weight: bold;">
    <u>Topogo</u>
    <link rel="stylesheet" href="style.css">
  </h1>
</head>
<body style="background-color: black;">
  <div id="account">
    <p style="text-align: center; color: green; font-size: 16px;">
    Want to make money? Then you're in luck. Topogo is an app that lets you see people in your local area who need an extra hand in activities like yard work or cleaning for quick and easy cash.
  </p>
  <form enctype="application/x-www-form-urlencoded" action="/users/register" method="post">
    <fieldset>

      <label for="name">First Name: </label>
      <input style="text-align: center; color: #90f48b; border-color: black; background-color: black;"type="text" placeholder="First Name" name="name">

      <label for="email">Email: </label>
      <input style="text-align: center; color: #90f48b; border-color: black; background-color: black;"type="text" placeholder="Email" name="email">

      <label for="username">Username:  </label>
      <input style="text-align: center; color: #90f48b; border-color: black; background-color: black;"type="text" placeholder="Username" name="username">

      <label for="password">Password </label>
      <input style="text-align: center; color: #90f48b; border-color: black; background-color: black;"type="text" placeholder="pass" name="password">

      <input type="submit" value="register" />
    </fieldset>
  </form>

  <form enctype="application/x-www-form-urlencoded" action="/users/authenticate" method="post">
    <fieldset>

      <label for="name">First Name: </label>
      <input style="text-align: center; color: #90f48b; border-color: black; background-color: black;"type="text" placeholder="First Name" name="name">

      <label for="email">Email: </label>
      <input style="text-align: center; color: #90f48b; border-color: black; background-color: black;"type="text" placeholder="Email" name="email">

      <label for="username">Username:  </label>
      <input style="text-align: center; color: #90f48b; border-color: black; background-color: black;"type="text" placeholder="Username" name="username">

      <label for="password">Password </label>
      <input style="text-align: center; color: #90f48b; border-color: black; background-color: black;"type="text" placeholder="pass" name="password">

      <input type="submit" value="login" />
    </fieldset>
  </form>

  <form enctype="application/x-www-form-urlencoded" action="/tasks/createtask" method="post">
    <fieldset>

      <label for="name">Name: </label>
      <input style="text-align: center; color: #90f48b; border-color: black; background-color: black;"type="text" placeholder="Task Name" name="name">

      <label for="creator">Creator </label>
      <input style="text-align: center; color: #90f48b; border-color: black; background-color: black;"type="text" placeholder="Creator" name="creator">

      <label for="latitude">Latitude  </label>
      <input style="text-align: center; color: #90f48b; border-color: black; background-color: black;"type="text" placeholder="Lat" name="latitude">

      <label for="longitude">Longitude </label>
      <input style="text-align: center; color: #90f48b; border-color: black; background-color: black;"type="text" placeholder="Long" name="longitude">

      <input type="submit" value="create task!" />
    </fieldset>
  </form>

  <form enctype="application/x-www-form-urlencoded" action="/tasklist/updatetasks" method="post">
    <fieldset>

      <label for="latitude">Latitude  </label>
      <input style="text-align: center; color: #90f48b; border-color: black; background-color: black;"type="text" placeholder="Lat" name="latitude">

      <label for="longitude">Longitude </label>
      <input style="text-align: center; color: #90f48b; border-color: black; background-color: black;"type="text" placeholder="Long" name="longitude">

      <input type="submit" value="create task!" />
    </fieldset>
  </form>
